@charset "utf-8";

/**
 * Style Sheet v2.0 for opentravelsoft.com
 *
 * $Id: share.css,v 1.1 2009/03/01 16:24:25 zhangst Exp $
 */
 
 /**
 * share config
 */
 
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	color: black;
	background: #fff;
	margin: 0px;
	padding: 0px;
}

html,body,input,textarea,select,button,td {
	color: #333;
	font: normal 12px "宋体", Tahoma, Verdana, Lucida, Arial, Helvetica, sans-serif;
}

a,h1,h2,h3,h4,h5,h6,p,dl,ol,ul,dt,dd,li,td {
	line-height: 150%;
}

h1,h2 {
	clear: both;
	font-size: 16px;
	font-weight: bold;
	margin: 8px;
	text-align: center;
	width: 100%;
}

h2 {
	font-size: 14px;
}

h3,h4 {
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
}

h4 {
	font-size: 12px;
}

div {
	margin: 0px;
	padding: 0px;
}

form {
	display: inline;
	margin: 0px;
	padding: 0px;
}

hr {
	border: 0px dashed #d1d7dc;
	border-top-width: 1px;
	height: 0px;
	margin: 8px 0px 8px 0px;
	padding: 0px;
}

img,a img {
	color: #fff;
	/* vertical-align: middle; */
}

ul li {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	float: left;
	margin: 0px;
	list-style-type: none
}

