@charset "utf-8";

/**
 * Style Sheet v2.0 for opentravelsoft.com
 *
 * $Id: manage.global.css,v 1.1 2009/03/01 16:24:25 zhangst Exp $
 */
 
 /**
 * global config
 */
body {
	background-color: #ECF0FF;
}

a,a:link,a:visited,a:active,a:hover {
	background: transparent;
	border: 0px;
}

a,a:hover,a:active {
	text-decoration: none;
}

a:link,a:visited {
	text-decoration: underline;
}

a {
	color: #CCCCCC;
}

a:hover {
	color: #FFFFFF;
}

blockquote {
	border-left: 1px dashed #ccc;
	margin: 3px 3px 3px 10px;
	padding: 3px 3px 3px 10px;
}


/**
 * global style
 */
.hidden {
	display: none;
}

button,.globalButton {
	padding: 2px;
	vertical-align: middle;
}

img.ico {
	vertical-align: middle;
}

img.seperator {
	height: 1px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.min {
	font-size: 12px;
}

.mid {
	font-size: 14px;
}

.max {
	font-size: 16px;
}

.idx {
	color: black;
	font-weight: bold;
	text-align: left;
	background-color: #C0E7AB;
}

.lstidx {
	color: black;
	font-weight: bold;
	text-align: center;
	background-color: #C0E7AB;
}

.data {
  color : black;
  text-align: left;
  background-color: white;
}

.cdata {
	color: black;
	text-align: center;
	background-color: white;
}

.rdata {
	color: black;
	text-align: right;
	background-color: white;
}

.header {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	background-color: #006E2E;
}

.topHeader {
	color: #003300;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}

.label {
    font-weight: bold;
    float:left;
}
.tdLabel {
	background-color: #CDCDF5;
}

.errorMessage {
    font-weight:bold;
    color:red;
    text-align: left;
}

.errorMessage ul {
    padding-right: 0px;
    padding-left: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px
}

.errorMessage li {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
	  width: 100%;
    list-style-type: decimal;
    text-align: left;
}

.TopMenu {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	width: 100%;
	border-top: white 1px solid;
	border-bottom: white 1px solid;
	height: 25px;
	background-color: #006E2E;
	font-weight: bold;
}

.TopMenu ul {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	MARGIN: 0px;
	WIDTH: 100%;
	DISPLAY: block;
	list-style: none;
}

.TopMenu li {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 2px;
	background-color: #006E2E
}

.indexPage {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 5px 0px 0px;
	width: 180px;
}

.indexPage ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
	width: 100%
}

.indexPage li {
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 1px;
	width: 100%
}

.indexHeader {
	color: #EEEEEE;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	background-color: #006E2E;
	height: 20px;
}


A.warnlink:LINK {
	COLOR: #003399;
	TEXT-DECORATION: none;
}

A.warnlink:VISITED {
	COLOR: #003399;
	TEXT-DECORATION: none;
}

A.warnlink:HOVER {
	COLOR: #3399FF;
	TEXT-DECORATION: underline;
}

A.warnlink:ACTIVE {
	COLOR: #3399FF;
	TEXT-DECORATION: none;
}

/**
 * global style
 */

.menuitem {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 5px 0px 0px;
	width: 180px;
}

.menuitem ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
	width: 100%
}
.menuitem li {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 1px;
	width: 100%
}

.menuitem a {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#EEEEEE none repeat scroll 0 0;
	color:333333;
	display:block;
	margin-left: 0px;
	margin-right:5px;
	padding-left: 2px;
	text-decoration:none;
}

.menuitem li a:hover
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#888888 none repeat scroll 0 0;
	color:white;
}

.PagerTable {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px;
	PADDING-TOP: 2px;
	HEIGHT: 20px;
	BACKGROUND-COLOR: #ffffff
}

.PagerTable UL {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
}

.PagerTable LI.doc {
	PADDING-RIGHT: 2px;
	PADDING-LEFT: 2px;
	LINE-HEIGHT: 20px;
	LIST-STYLE-TYPE: none
}
.PagerTable LI.button {
	MARGIN-LEFT: 10px;
	LINE-HEIGHT: 20px;
	LIST-STYLE-TYPE: none
}
.PagerTable LI.txt {
	MARGIN-LEFT: 2px;
	LINE-HEIGHT: 20px;
	LIST-STYLE-TYPE: none
}

.PBMouseOver {
	BORDER-RIGHT: #787878 1px solid;
	BORDER-TOP: #787878 1px solid;
	MARGIN-TOP: 1px;
	BORDER-LEFT: #787878 1px solid;
	BORDER-BOTTOM: #787878 1px solid
}

.PBMouseOut {
	BORDER-RIGHT: #d9d9d9 1px solid;
	BORDER-TOP: #d9d9d9 1px solid;
	MARGIN-TOP: 1px;
	BORDER-LEFT: #d9d9d9 1px solid;
	BORDER-BOTTOM: #d9d9d9 1px solid
}

.SeachTextEdit {
	BORDER-RIGHT: #000 1px solid;
	BORDER-TOP: #000 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 12px;
	BORDER-LEFT: #000 1px solid;
	COLOR: #016f38;
	BORDER-BOTTOM: #000 1px solid;
	FONT-FAMILY: "Tahoma", "Arial", "新宋体", "宋体";
	HEIGHT: 20px;
	BACKGROUND-COLOR: #fff
}

.required {
	color:red;
}
