<?xml version="1.0" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byType">

  <bean id="ClassifySearchAction" class="com.opentravelsoft.action.region.ClassifySearchAction" singleton="false">
    <property name="destinationService">
      <ref bean="DestinationService"/>
    </property>
  </bean>

</beans>