<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>  
    <typeAlias alias="Employee" type="com.opentravelsoft.entity.Employee"/>  
  </typeAliases> 
  <mappers>
    <mapper resource="com/opentravelsoft/mapping/EmployeeMapper.xml" />
  </mappers>
</configuration> 
