<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="autodetect">

  <!-- SimpleReport -->
  <bean id="SimpleReport" class="com.opentravelsoft.action.manage.operator.SimpleReportAction" singleton="false">
  </bean>

  <!-- OutBandReport -->
  <bean id="OutBandReport" class="com.opentravelsoft.action.manage.operator.OutBandReportAction" singleton="false">
  </bean>

  <!-- CustomerListReport -->
  <bean id="CustomerListPrint" class="com.opentravelsoft.action.manage.operator.CustomerListReportAction" singleton="false">
  </bean>

  <!-- THCustomerListReport -->
  <bean id="THCustomerListPrint" class="com.opentravelsoft.action.manage.operator.THReportAction" singleton="false">
  </bean>

</beans>