<?xml version="1.0" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd"
  default-autowire="byType">

  <!--DistrictAction -->
  <bean id="DistrictAction" class="com.opentravelsoft.action.manage.resource.ListDisctrictAction" scope="prototype">
  </bean>
  <bean id="EditDistrictAction" class="com.opentravelsoft.action.manage.resource.EditDistrictAction" scope="prototype">
  </bean>

  <!-- FIT Category -->
  <bean id="LineThemeAction" class="com.opentravelsoft.action.manage.vacation.LineThemeAction" scope="prototype">
  </bean>

  <!-- Category -->
  <bean id="CategoryAction" class="com.opentravelsoft.action.manage.product.CategoryAction" scope="prototype">
  </bean>

  <!-- VisaAction -->
  <bean id="ListVisaAction" class="com.opentravelsoft.action.manage.product.ListVisaAction" scope="prototype">
  </bean>
  <bean id="EditVisaAction" class="com.opentravelsoft.action.manage.product.EditVisaAction" scope="prototype">
  </bean>

  <!-- Airways -->
  <bean id="AirwaysAction" class="com.opentravelsoft.action.manage.resource.ListAirwaysAction" scope="prototype">
  </bean>
  <bean id="EditAirwaysAction" class="com.opentravelsoft.action.manage.resource.EditAirwaysAction" scope="prototype">
  </bean>

  <!-- Airport -->
  <bean id="AirportAction" class="com.opentravelsoft.action.manage.resource.ListAirportAction" scope="prototype">
  </bean>
  <bean id="EditAirportAction" class="com.opentravelsoft.action.manage.resource.EditAirportAction" scope="prototype">
  </bean>

  <!--Flight -->
  <bean id="FlightAction" class="com.opentravelsoft.action.manage.resource.ListFlightAction" scope="prototype">
  </bean>
  <bean id="EditFlightAction" class="com.opentravelsoft.action.manage.resource.EditFlightAction" scope="prototype">
  </bean>

  <!-- Sight -->
  <bean id="SightAction" class="com.opentravelsoft.action.manage.resource.ListSightAction" scope="prototype">
  </bean>
  <bean id="EditSightAction" class="com.opentravelsoft.action.manage.resource.EditSightAction" scope="prototype">
  </bean>

  <!-- 导陪档案 -->
  <bean id="ListGuideAction" class="com.opentravelsoft.action.manage.setting.ListGuideAction" scope="prototype">
  </bean>
  <bean id="EditGuideAction" class="com.opentravelsoft.action.manage.setting.EditGuideAction" scope="prototype">
  </bean>

  <!-- ShareFlightAction -->
  <bean id="ListShareFlightAction" class="com.opentravelsoft.action.manage.product.ListShareFlightAction" scope="prototype">
  </bean>
  <bean id="EditShareFlightAction" class="com.opentravelsoft.action.manage.product.EditShareFlightAction" scope="prototype">
  </bean>

</beans>
