<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd"
  default-autowire="byType">

    <!-- 预订单读取 -->
    <bean id="ReadBookingAction" class="com.opentravelsoft.action.manage.order.ReadBookingAction" scope="prototype">
    </bean>

    <!-- 审核预订单 -->
    <bean id="ListConfirmBook" class="com.opentravelsoft.action.manage.operate.ListConfirmBookAction" scope="prototype">
    </bean>
    <bean id="ConfirmBook" class="com.opentravelsoft.action.manage.order.ConfirmBookAction" scope="prototype">
    </bean>

    <bean id="BookingSearchAction" class="com.opentravelsoft.action.manage.order.BookingSearchAction" scope="prototype">
    </bean>

    <!-- 销售预订 -->
    <bean id="BookingOrderAction" class="com.opentravelsoft.action.manage.order.BookingOrderAction" scope="prototype">
    </bean>

    <bean id="SalesBookingAction" class="com.opentravelsoft.action.manage.order.BookingDetailAction" scope="prototype">
    </bean>

    <!-- Book Gathering -->
    <bean id="BookGatheringAction" class="com.opentravelsoft.action.manage.order.BookGatheringAction" scope="prototype">
    </bean>

    <bean id="BookingSplitAction" class="com.opentravelsoft.action.manage.order.BookingSplitAction" scope="prototype">
    </bean>

    <!-- Express -->
    <bean id="ExpressTaskAction" class="com.opentravelsoft.action.manage.express.ExpressTaskAction" scope="prototype">
    </bean>
    <bean id="ExpressAction" class="com.opentravelsoft.action.manage.express.ExpressDetailAction" scope="prototype">
    </bean>
    <bean id="AssignExpressAction" class="com.opentravelsoft.action.manage.express.AssignExpressAction" scope="prototype">
    </bean>
    <bean id="ExpressSearch" class="com.opentravelsoft.action.manage.express.ExpressSearchAction" scope="prototype">
    </bean>
    <bean id="EditExpressAction" class="com.opentravelsoft.action.manage.express.EditExpressAction" scope="prototype">
    </bean>

    <!--帐单制作 Reckoning Make -->
    <bean id="ReckoningMakeAction" class="com.opentravelsoft.action.manage.order.ReckoningMakeAction" scope="prototype">
    </bean>

  </beans>
